<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Posts</title>
    <style>
        body{
            margin:20px;
            padding:20px;
        }
        td, th{
            margin:5px;
            padding:5px;
        }
    </style>
</head>
<body>
<form action="\" method="get">
    <input type="submit" value="🏠"/>
</form>
<div class="nav">
    <div class="form-group-option">
        <div class="form-group-input">
            <form th:action="@{/}">
                <input type="text" th:value="${search}" th:name="search" placeholder="Search Something!!!"/>
                <div class="form-group-input">
                    Filter by author :<br>
                    <input type="checkbox" name="author" value="swarnava" th:checked="${authorsModel.getSwarnava()}">Swarnava
                    Chakraborty
                    <input type="checkbox" name="author" value="dhritimoy" th:checked="${authorsModel.getDhritimoy()}">Dhritimoy
                    Majumder
                    <input type="checkbox" name="author" value="kalaiya" th:checked="${authorsModel.getKalaiya()}">Kalaiya
                    Rasan
                    <input type="checkbox" name="author" value="guddu" th:checked="${authorsModel.getGuddu()}">Guddu
                    Ghosh
                    <br>Filter by tag :<br>
                    <input type="checkbox" name="tag" value="technology" th:checked="${tagsModel.getTechnology()}">Technology
                    <input type="checkbox" name="tag" value="lifestyle" th:checked="${tagsModel.getLifestyle()}">Lifestyle
                    <input type="checkbox" name="tag" value="motivation" th:checked="${tagsModel.getMotivation()}">Motivation
                    <input type="checkbox" name="tag" value="politics" th:checked="${tagsModel.getPolitics()}">Politics
                    <input type="checkbox" name="tag" value="culture" th:checked="${tagsModel.getCulture()}">Culture
                </div>
                <label>Sort by</label>
                <select name="sortField" id="sort">
                    <option value="publishedAt" th:selected="${sortModel.getPublishedAt()}">Published Date & Time</option>
                    <option value="title" th:selected="${sortModel.getTitle()}">Title</option>
                    <option value="author" th:selected="${sortModel.getAuthor()}">Author</option>
                    <option value="excerpt" th:selected="${sortModel.getExcerpt()}">Excerpt</option>
                </select>
                <label> Order </label>
                <select name="order" id="order">
                    <option value="asc" th:selected="${sortModel.getAsc()}">Ascending</option>
                    <option value="desc" th:selected="${sortModel.getDesc()}">Descending</option>
                </select>
                <input type="submit"/>
            </form>
        </div>
        <form action="newpost" method="get">
            <button type="submit">Create New Blog Post</button>
        </form>
    </div>
</div>
<br>
<span th:text="${posts_list.size()}"></span>/<span th:text="${totalSize}"></span>
<br>
<table>
    <thead>
    <tr>
        <th> Title</th>
        <th> Excerpt</th>
        <th> Author</th>
        <th> Published at</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${posts_list.empty}">
        <td colspan="2"> No Posts Available</td>
    </tr>
    <tr th:each="post : ${posts_list}">
        <td><span th:text="${post.title}"> </span></td>
        <td><span th:text="${post.excerpt}"> </span></td>
        <td><span th:text="${post.author}"> </span></td>
        <td><span th:text="${post.published_at}"> </span></td>
        <td>
            <a th:href="@{/showBlogPost(postId=${post.id})}"
               class="btn btn-success">
                Read
            </a>
            <a th:href="@{/updateBlogPost(postId=${post.id})}"
               class="btn btn-info btn-sm">
                Update
            </a>
            <a th:href="@{/deleteBlogPost(postId=${post.id})}"
               class="btn btn-danger btn-sm"
               onclick="if (!(confirm('Are you sure you want to delete this post?'))) return false">
                Delete
            </a>
        </td>
    </tr>
    </tbody>
</table>
<br><br>
<a th:href="@{/?start=0&limit=3}">1</a>
<a th:href="@{/?start=3&limit=3}">2</a>
<a th:href="@{/?start=6&limit=3}">3</a>
<br><br>

<!--<input type="text" id="myInput" oninput="myFunction()">-->
<!--<p id="demo"></p>-->
<!--<script>-->
<!--function myFunction() {-->
<!--  var x = document.getElementById("myInput").value;-->
<!--  document.getElementById("demo").innerHTML = "You wrote: " + x;-->
<!--}-->
<!--</script>-->


</body>
</html>