<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Posts</title>
    <style>
        body{
            margin:20px;
            padding:20px;
        }
        td, th{
            margin:5px;
            padding:5px;
        }
    </style>
</head>
<body>
<form action="\" method="get">
    <input type="submit" value="🏠"/>
</form>
<div class="nav">
    <div class="form-group-option">
        <div class="form-group-input">
            <form th:action="@{/}">
                <input type="text" th:name="search" placeholder="Search Something!!!"/>
                <div class="form-group-input">
                    <label>Filter : </label>
                    <label> Author</label>
                    <select th:name="author" id="author">
                        <option value="all">All</option>
                        <option value="Unknown User">Unknown User</option>
                        <option value="Swarnava Chakraborty">Swarnava Chakraborty</option>
                        <option value="Dhritimoy Majumder">Dhritimoy Majumder</option>
                        <option value="Guddu Ghosh">Guddu Ghosh</option>
                    </select>
                    <label style="display:none"> Published Year</label>
                    <select style="display:none" th:name="publishedAt" id="published_at">
                        <option value="1">All</option>
                        <option value="2021">2021</option>
                        <option value="2020">2020</option>
                    </select>
                    <label> Tag</label>
                    <select th:name="tags" id="tags">
                        <option value="all">All</option>
                        <option value="Technology">Technology</option>
                        <option value="Lifestyle">Lifestyle</option>
                        <option value="Motivation">Motivation</option>
                    </select>
                </div>




                <input type="submit"/>
            </form>
        </div>





        <label>Sort by</label>
        <select name="sort" id="sort">
            <option value="publishedAt">Published Date & Time</option>
        </select>

        <form action="newpost" method="get">
            <button type="submit">Create New Blog Post</button>
        </form>

    </div>


</div>

<br>



<table>
    <thead>
    <tr>
        <th> Title </th>
        <th> Excerpt </th>
        <th> Author </th>
        <th> Published at </th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${posts_list.empty}">
        <td colspan="2"> No Posts Available </td>
    </tr>
    <tr th:each="post : ${posts_list}">
        <td><span th:text="${post.title}"> </span></td>
        <td><span th:text="${post.excerpt}"> </span></td>
        <td><span th:text="${post.author}"> </span></td>
        <td><span th:text="${post.published_at}"> </span></td>
        <td>
            <a th:href="@{/showBlogPost(postId=${post.id})}"
               class="btn btn-info btn-sm">
                Read
            </a>
            <a th:href="@{/updateBlogPost(postId=${post.id})}"
               class="btn btn-info btn-sm">
                Update
            </a>
            <a th:href="@{/deleteBlogPost(postId=${post.id})}"
               class="btn btn-danger btn-sm"
               onclick="if (!(confirm('Are you sure you want to delete this post?'))) return false">
                Delete
            </a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>