<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Newpost</title>
</head>
<body>

    <form action="newpost_submitted" method="post">
<!--        <input type="text" name="id" placeholder="Enter ID"/><br>-->
        <input type="text" name="title" placeholder="Enter Title" value="title"/><br>
        <input type="text" name="excerpt" placeholder="Enter Excerpt" value="excerpt"/><br>
        <input type="text" name="content" placeholder="Enter Content" value="content"/><br>
        <input type="text" name="author" placeholder="Enter Author" value="author"/><br>
        <input type="text" name="published_at" placeholder="published_at" value="Dec 21, 2021" /><br>
<!--        <input type="text" name="is_published" placeholder="Is published ?"/><br>-->
        <input type="text" name="created_at" placeholder="created_at" value="Dec 21, 2021" /><br>
        <input type="text" name="updated_at" placeholder="updated_at" value="Dec 21, 2021" /><br>

        <button type="submit">Submit</button>
    </form>

</body>
</html>